@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:800');

body {
    background-image: url(https://img.picgo.net/2024/09/24/kelly-sikkema-2q_frVRXWfQ-unsplash2fad2f6c30ff41a3.jpg);
    backdrop-filter: blur(3px);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 3px 1px #888888;
    flex: 1 0 25%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-sizing: border-box;
}

.content-box-a {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 3px 1px #888888;
    flex: 1 0 25%;
    margin: 10px;
    padding: 20px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-sizing: border-box;
}

.content-box h1 {
    margin: 0;
    font-size: 24px;
    font-weight: black;
}

.content-box h4 {
    font-size: 18px;
}

.content-box img {
    width: 100%;
    height: auto;
}

.content-box p {
    font-size: 16px;
    line-height: 1.5;
}

.content-box .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    box-shadow: 3px 3px 1px #888888;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}

.content-box .button:hover {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 3px 3px 1px #888888;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .content-box {
        flex: 1 0 50%;
    }
}

@media (max-width: 480px) {
    .content-box {
        flex: 1 0 100%;
    }
}
